<form
  [formGroup]="soldierForm"
  (ngSubmit)="save()"
  novalidate
  class="form_wrapper"
>
  <div class="form_content">
    <div class="form_control_wrapper">
      <label for="full_name" class="form_label"
        >Прізвище, Ім'я та по-батькові</label
      >
      <textarea
        id="full_name"
        rows="4"
        cols="30"
        pInputTextarea
        formControlName="full_name"
        class="form_textarea"
      >
      </textarea>
      <small
        class="p-error form_error"
        *ngIf="
          soldierForm?.get('full_name')?.invalid &&
          soldierForm?.get('full_name')?.dirty
        "
      >
        *Обовязкове поле
      </small>
    </div>
    <div class="form_fields_colums_group_wrapper">
      <div class="form_control_wrapper form_field_left">
        <label class="form_label">Дата народження</label>
        <p-calendar
          class="form_calendar"
          formControlName="birthday"
          placeholder="../../...."
          dateFormat="dd/mm/yy"
        />
        <small
          class="p-error form_error"
          *ngIf="
            soldierForm?.get('birthday')?.invalid &&
            soldierForm?.get('birthday')?.dirty
          "
        >
          *Обовязкове поле
        </small>
      </div>
      <div class="form_control_wrapper form_field_right">
        <label for="phone" class="form_label">Телефон</label>
        <p-inputMask
          class="form_mask"
          mask="+380(99)999 99 99"
          formControlName="phone"
          placeholder="+380(99)999 99 99"
        />
      </div>
    </div>
    <ng-container formArrayName="rank">
      <ng-container *ngFor="let item of ranks.controls; let i = index">
        <div [formGroupName]="i" class="form_fields_colums_group_wrapper">
          <div class="form_control_wrapper form_field_left">
            <label for="type" class="form_label">Звання</label>
            <p-dropdown
              formControlName="type"
              [options]="rank_types"
              optionLabel="label"
              optionValue="value"
              class="form_dropdown"
            />
          </div>
          <div class="form_control_wrapper form_field_right">
            <label for="date" class="form_label">Дата присвоєння</label>
            <p-calendar
              formControlName="date"
              class="form_calendar"
              placeholder="../../...."
              dateFormat="dd/mm/yy"
            />
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container formGroupName="editional_data">
      <div class="form_control_wrapper">
        <label for="unit" class="form_label">Підрозділ</label>
        <input
          id="unit"
          type="text"
          pInputText
          formControlName="unit"
          class="form_input"
        />
      </div>
      <div class="form_fields_colums_group_wrapper">
        <div class="form_control_wrapper form_field_left">
          <label for="blood_type" class="form_label">Група крові</label>
          <p-dropdown
            formControlName="blood_type"
            [options]="blood_types"
            optionLabel="label"
            optionValue="value"
            class="form_calendar"
          />
        </div>

        <div class="form_control_wrapper form_field_right">
          <label for="sex_type" class="form_label">Стать</label>
          <p-dropdown
            formControlName="sex_type"
            [options]="sex_types"
            optionLabel="label"
            optionValue="value"
            class="form_dropdown"
          />
        </div>
      </div>
      <div class="form_control_wrapper">
        <label for="address" class="form_label">Місце проживання</label>
        <textarea
          id="address"
          rows="4"
          cols="30"
          pInputTextarea
          formControlName="address"
          class="form_textarea"
        >
        </textarea>
      </div>
      <div class="form_control_wrapper">
        <label for="summoned_date" class="form_label">Дата призову</label>
        <p-calendar
          formControlName="summoned_date"
          placeholder="../../...."
          class="form_calendar"
          dateFormat="dd/mm/yy"
        />
      </div>
      <div class="form_control_wrapper">
        <label for="summoned" class="form_label">Ким призваний</label>
        <textarea
          id="summoned"
          rows="4"
          cols="30"
          pInputTextarea
          formControlName="summoned"
          class="form_textarea"
        >
        </textarea>
      </div>
    </ng-container>
    <!-- <ng-container formGroupName="visits">
      <ng-container *ngFor="let item of visits.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="form_control_wrapper">
            <label for="type" class="form_label">Тип звернення</label>
            <p-dropdown
              formControlName="type_of_visit"
              [options]="visits_types"
              optionLabel="label"
              optionValue="value"
              class="form_dropdown"
              [disabled]="true"
            />
          </div>
          
          <ng-container *ngIf="item.value.type_of_visit === Type_of_Visit.AMBULATORY">
            <div class="form_control_wrapper">
              <label class="form_label">День візиту</label>
              <p-calendar
                class="form_calendar"
                formControlName="date_in"
                placeholder="../../...."
                dateFormat="dd/mm/yy"
              />
            </div>
            <div class="form_control_wrapper">
              <label for="amb_complaint" class="form_label">Скарги</label>
              <textarea
                id="amb_complaint"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="complaint"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="amb_final_diagnosis" class="form_label">Діагноз</label>
              <textarea
                id="amb_final_diagnosis"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="final_diagnosis"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="amb_recomendation" class="form_label">Рекомендації</label>
              <textarea
                id="amb_recomendation"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="recomendation"
                class="form_textarea"
              >
              </textarea>
            </div>
          </ng-container>
          <ng-container *ngIf="item.value.type_of_visit === Type_of_Visit.EXAMINATION">
            <div class="form_control_wrapper">
              <label class="form_label">День візиту</label>
              <p-calendar
                class="form_calendar"
                formControlName="date_in"
                placeholder="../../...."
                dateFormat="dd/mm/yy"
              />
            </div>
            <div class="form_control_wrapper">
              <label for="exa_complaint" class="form_label">Скарги</label>
              <textarea
                id="exa_complaint"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="complaint"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="exa_recomendation" class="form_label">Рекомендації</label>
              <textarea
                id="exa_recomendation"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="recomendation"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="exa_hospital_name" class="form_label">Підрозділ</label>
              <input
                id="exa_hospital_name"
                type="text"
                pInputText
                formControlName="hospital_name"
                class="form_input"
              />
            </div>
          </ng-container>
          <ng-container *ngIf="item.value.type_of_visit === Type_of_Visit.AMBULATORY">
            <div class="form_control_wrapper">
              <label class="form_label">День Госпіталізації</label>
              <p-calendar
                class="form_calendar"
                formControlName="date_in"
                placeholder="../../...."
                dateFormat="dd/mm/yy"
              />
            </div>
            <div class="form_control_wrapper">
              <label class="form_label">День Виписки</label>
              <p-calendar
                class="form_calendar"
                formControlName="date_in"
                placeholder="../../...."
                dateFormat="dd/mm/yy"
              />
            </div>
            <div class="form_control_wrapper">
              <label for="amb_complaint" class="form_label">Скарги</label>
              <textarea
                id="amb_complaint"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="complaint"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="amb_final_diagnosis" class="form_label">Діагноз</label>
              <textarea
                id="amb_final_diagnosis"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="final_diagnosis"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="amb_recomendation" class="form_label">Рекомендації</label>
              <textarea
                id="amb_recomendation"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="recomendation"
                class="form_textarea"
              >
              </textarea>
            </div>
          </ng-container>
        </ng-container>
         date_in: new FormControl<Date | null>(null),
          date_out: new FormControl<Date | null>(null),
          pre_diagnosis: new FormControl<string | null>(''),
          final_diagnosis: new FormControl<string | null>(''),
          hospital_name: new FormControl<string | null>(''),
          type_of_visit: new FormControl<TYPE_OF_VISIT>(TYPE_OF_VISIT.AMBULATORY),
          type_of_disease: new FormControl<TYPE_OF_DISEASE>(
            TYPE_OF_DISEASE.DISEASE
          ),
          complaint: new FormControl<string | null>(''),
          recomendation: new FormControl<string | null>(''),
      </ng-container>
    </ng-container> -->
  </div>
  <div class="form_footer">
    <button
      pButton
      type="button"
      label="Відмінити"
      severity="secondary"
      (click)="cancel()"
    ></button>
    <button
      pButton
      type="submit"
      label="Зберегти"
      [disabled]="soldierForm.invalid"
    ></button>
  </div>
</form>
