<form
  [formGroup]="soldierForm"
  (ngSubmit)="save()"
  novalidate
  class="form_wrapper"
>
  <div class="form_content">
    <p-accordion [multiple]="true" [activeIndex]="[0]">
      <p-accordionTab header="Загальна інформація">
        <ng-container>
          <div class="form_control_wrapper">
            <label for="full_name" class="form_label"
              >Прізвище, Ім'я та по-батькові</label
            >
            <textarea
              id="full_name"
              rows="4"
              cols="30"
              pInputTextarea
              formControlName="full_name"
              class="form_textarea"
            >
            </textarea>
            <small
              class="p-error form_error"
              *ngIf="
                soldierForm?.get('full_name')?.invalid &&
                soldierForm?.get('full_name')?.dirty
              "
            >
              *Обовязкове поле
            </small>
          </div>
          <div class="form_fields_colums_group_wrapper">
            <div class="form_control_wrapper form_field_left">
              <label class="form_label">Дата народження</label>
              <p-calendar
                class="form_calendar"
                formControlName="birthday"
                placeholder="../../...."
                dateFormat="dd/mm/yy"
              />
              <small
                class="p-error form_error"
                *ngIf="
                  soldierForm?.get('birthday')?.invalid &&
                  soldierForm?.get('birthday')?.dirty
                "
              >
                *Обовязкове поле
              </small>
            </div>
            <div class="form_control_wrapper form_field_right">
              <label for="phone" class="form_label">Телефон</label>
              <p-inputMask
                class="form_mask"
                mask="+380(99)999 99 99"
                formControlName="phone"
                placeholder="+380(99)999 99 99"
              />
            </div>
          </div>
          <ng-container formArrayName="rank">
            <ng-container *ngFor="let item of ranks.controls; let i = index">
              <div [formGroupName]="i" class="form_fields_colums_group_wrapper">
                <div class="form_control_wrapper form_field_left">
                  <label for="type" class="form_label">Звання</label>
                  <p-dropdown
                    formControlName="type"
                    [options]="rank_types"
                    optionLabel="label"
                    optionValue="value"
                    class="form_dropdown"
                  />
                </div>
                <div class="form_control_wrapper form_field_right">
                  <label for="date" class="form_label">Дата присвоєння</label>
                  <p-calendar
                    formControlName="date"
                    class="form_calendar"
                    placeholder="../../...."
                    dateFormat="dd/mm/yy"
                  />
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container formGroupName="editional_data">
            <div class="form_control_wrapper">
              <label for="unit" class="form_label">Підрозділ</label>
              <input
                id="unit"
                type="text"
                pInputText
                formControlName="unit"
                class="form_input"
              />
            </div>
            <div class="form_control_wrapper">
              <label for="position" class="form_label">Посада</label>
              <input
                id="position"
                type="text"
                pInputText
                formControlName="position"
                class="form_input"
              />
            </div>
            <div class="form_fields_colums_group_wrapper">
              <div class="form_control_wrapper form_field_left">
                <label for="blood_type" class="form_label">Група крові</label>
                <p-dropdown
                  formControlName="blood_type"
                  [options]="blood_types"
                  optionLabel="label"
                  optionValue="value"
                  class="form_calendar"
                />
              </div>

              <div class="form_control_wrapper form_field_right">
                <label for="sex_type" class="form_label">Стать</label>
                <p-dropdown
                  formControlName="sex_type"
                  [options]="sex_types"
                  optionLabel="label"
                  optionValue="value"
                  class="form_dropdown"
                />
              </div>
            </div>
            <div class="form_control_wrapper">
              <label for="address" class="form_label">Місце проживання</label>
              <textarea
                id="address"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="address"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="summoned_date" class="form_label">Дата призову</label>
              <p-calendar
                formControlName="summoned_date"
                placeholder="../../...."
                class="form_calendar"
                dateFormat="dd/mm/yy"
              />
            </div>
            <div class="form_control_wrapper">
              <label for="summoned" class="form_label">Ким призваний</label>
              <textarea
                id="summoned"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="summoned"
                class="form_textarea"
              >
              </textarea>
            </div>
            <div class="form_control_wrapper">
              <label for="description" class="form_label"
                >Додаткова інформація</label
              >
              <textarea
                id="description"
                rows="4"
                cols="30"
                pInputTextarea
                formControlName="description"
                class="form_textarea"
              >
              </textarea>
            </div>
          </ng-container>
        </ng-container>
      </p-accordionTab>
      <p-accordionTab header="ВЛК">
        <ng-container formArrayName="vlc">
          <ng-container *ngFor="let vlc_item of vlcs.controls; let j = index">
            <ng-container [formGroupName]="j">
              <div class="form_fields_colums_group_wrapper">
                <div class="form_control_wrapper form_field_left">
                  <label for="vlc_number" class="form_label"
                    >Номер наказу</label
                  >
                  <input
                    id="vlc_number"
                    type="text"
                    pInputText
                    formControlName="vlc_number"
                    class="form_input"
                  />
                </div>
                <div class="form_control_wrapper form_field_right">
                  <label for="vlc_date" class="form_label"
                    >Дата проходження</label
                  >
                  <p-calendar
                    formControlName="vlc_date"
                    class="form_calendar"
                    placeholder="../../...."
                    dateFormat="dd/mm/yy"
                  />
                </div>
              </div>
              <div class="form_fields_colums_group_wrapper">
                <div class="form_control_wrapper form_field_left">
                  <label for="hospital_name" class="form_label"
                    >Місце проходження</label
                  >
                  <textarea
                    id="hospital_name"
                    rows="4"
                    cols="30"
                    pInputTextarea
                    formControlName="hospital_name"
                    class="form_textarea"
                  >
                  </textarea>
                </div>
                <div class="form_control_wrapper form_field_right">
                  <label for="diagnosis" class="form_label">Діагноз</label>
                  <textarea
                    id="diagnosis"
                    rows="4"
                    cols="30"
                    pInputTextarea
                    formControlName="diagnosis"
                    class="form_textarea"
                  >
                  </textarea>
                </div>
              </div>
              <div class="form_control_wrapper">
                <label for="recomendation" class="form_label">Висновок</label>
                <textarea
                  id="recomendation"
                  rows="4"
                  cols="30"
                  pInputTextarea
                  formControlName="recomendation"
                  class="form_textarea"
                >
                </textarea>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </p-accordionTab>
      <!-- <p-accordionTab header="Візит">
        <ng-container formArrayName="visits">
          <ng-container *ngFor="let visit_item of visits.controls; let k = index">
            <ng-container [formGroupName]="k">
              <div class="form_fields_colums_group_wrapper">
                <div class="form_control_wrapper form_field_left">
                  <label class="form_label">Дата звернення</label>
                  <p-calendar
                    class="form_calendar"
                    formControlName="date_in"
                    placeholder="../../...."
                    dateFormat="dd/mm/yy"
                  />
                </div>
                <div class="form_control_wrapper form_field_right">
                  <label for="type_of_visit" class="form_label">Тип звернення</label>
                  <p-dropdown
                    formControlName="type_of_visit"
                    [options]="visits_types"
                    optionLabel="label"
                    optionValue="value"
                    class="form_dropdown"
                  />
                </div>
              </div>
              <div class="form_control_wrapper">
                <label for="complaint" class="form_label">Скарги</label>
                <textarea
                  id="complaint"
                  rows="4"
                  cols="30"
                  pInputTextarea
                  formControlName="complaint"
                  class="form_textarea"
                >
                </textarea>
              </div>
              <div class="form_control_wrapper">
                <label for="final_diagnosis" class="form_label">Діагноз</label>
                <textarea
                  id="final_diagnosis"
                  rows="4"
                  cols="30"
                  pInputTextarea
                  formControlName="final_diagnosis"
                  class="form_textarea"
                >
                </textarea>
              </div>
              <div class="form_control_wrapper">
                <label for="visit_recomendation" class="form_label">Рекомендації</label>
                <textarea
                  id="visit_recomendation"
                  rows="4"
                  cols="30"
                  pInputTextarea
                  formControlName="recomendation"
                  class="form_textarea"
                >
                </textarea>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </p-accordionTab> -->
    </p-accordion>
  </div>

  <div class="form_footer">
    <button
      pButton
      type="button"
      label="Відмінити"
      severity="secondary"
      (click)="cancel()"
    ></button>
    <button
      pButton
      type="submit"
      label="Зберегти"
      [disabled]="soldierForm.invalid"
    ></button>
  </div>
</form>
