<p-table class="table" [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Rank</th>
            <th>Address</th>
            <th>Blood Type</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.full_name }}</td>
            <td>{{ item.birthday }}</td>
            <td>{{ item.rank.type }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.blood_type }}</td>
            <td>
                <button>Add</button>
            </td>
        </tr>
    </ng-template>
</p-table>
