.p-button {
  height: 32px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: none !important;
}

.app_action_button {
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: none !important;
  text-decoration: none;
  color: var(--text-secondary-color);
  border: 1px solid var(--text-secondary-color);
  text-align: center;
  padding: 6px 8px;
  display: inline-flex;
  align-content: center;
  background: transparent;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: var(--text-main-color);
    border-color: var(--text-main-color);
  }
}