.app-inline-calendar {
  width: 100%;
  min-height: 360px;
  margin-bottom: 20px;
  flex-shrink: 0;
  &.planning_calendar .p-datepicker-panel {
    padding: 0;
  }
  .p-datepicker {
    width: 100%;
    height: 100%;
  }
  .p-datepicker-panel {
    border: none;
    border-radius: 0;
  }
  //   .p-datepicker-calendar-container {
  //     height: 100%;
  //   }
  .p-datepicker-header * {
    font-size: 24px;
  }
  .p-datepicker-day-view {
    height: calc(100% - 60px);
  }
  .p-datepicker-weekday-cell {
    font-size: 24px;
  }
  .p-datepicker-day-cell {
    border: 1px solid;
    padding: 0;
    height: 32px;
  }
  .p-datepicker-day {
    width: 100%;
    height: 100%;
    border-radius: 0;
    line-height: 30px;
  }

  .date-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
  }
  .task-counter {
    background: var(--error-color);
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 12px;
  }
}
