.form_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.form_header {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 0 20px 0;
  position: relative;
}

.form_footer {
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  justify-content: flex-end;
  height: 64px;
  padding: 12px 0 20px 0;

  .p-button {
    padding: 8px;
    margin: 0 0 0 12px;
    height: 100%;
    max-width: 200px;
  }
}

.form_fields_colums_group_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form_fields_colums_group {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;

  .form_control_wrapper,
  .form_control_wrapper_inline {
    flex-grow: 1;
    min-width: 260px;
    margin-right: 20px;
  }
}
.form_fields_colums_group_2 {
  @extend .form_fields_colums_group;
  .form_control_wrapper,
  .form_control_wrapper_inline {
    width: calc(100% / 2 - 20px);
  }
}

.form_fields_colums_group_3 {
  @extend .form_fields_colums_group;

  .form_control_wrapper,
  .form_control_wrapper_inline {
    width: calc(100% / 3 - 20px);
  }
}

.form_control_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 0 12px 0;
  padding-bottom: 12px;
  position: relative;

  .form_error {
    font-size: 10px;
    position: absolute;
    bottom: -2px;
  }
}

.form_input_prefix_wrapper {
  width: 100%;
  position: relative;
  .form_input {
    padding-left: 32px;
  }
}

.form_input_prefix {
  position: absolute;
  left: 4px;
  top: calc(50% - 12px);
  z-index: 1;
  height: 24px;
  width: 24px;
}

.form_control_wrapper_inline {
  @extend .form_control_wrapper;
  flex-direction: row;
  .form_label_before {
    line-height: 40px;
  }

  .form_switch_toggle {
    align-self: center;
  }
}

.form_switch_toggle {
  display: block;
  width: 40px;
  height: 24px;
  &.p-toggleswitch-checked {
    .p-toggleswitch-slider {
      background: var(--b-accent-color);
    }
  }
  .p-toggleswitch-slider {
    background: var(--b-text-secondary-color);
    transition-property: background;
    transition: var(--b-transition);
  }
  .p-toggleswitch-handle {
    height: 16px;
    width: 16px;
    top: calc(50% - 8px);
    background: var(--b-primary-bg-color);
  }
}
.form_field_margin_r_20 {
  margin-right: 20px;
}

.form_field_left {
  width: calc(50% - 10px);
  margin-right: 10px;
}

.form_field_right {
  width: calc(50% - 10px);
  margin-left: 10px;
}

.form_label {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 14px;
  min-height: 16px;
}

.form_label_before {
  margin-right: 8px;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  min-height: 16px;
}

.b-input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: var(--b-text-secondary-color);
  border: 1px solid var(--b-text-secondary-color);
  box-shadow: none !important;
  outline: 0;
  &:focus:not(:disabled),
  &:hover:not(:disabled) {
    color: var(--b-text-main-color);
    border-color: var(--b-text-main-color);
  }
}

.form_textarea {
  @extend .b-input;
  height: 52px;
  resize: none;
}

.form_textarea_mh_64 {
  @extend .form_textarea;
  height: auto;
  min-height: 80px;
}

.form_textarea_h_120 {
  @extend .form_textarea;
  height: 120px;
}

.form_input {
  @extend .b-input;
  height: 40px;
}

.form_calendar,
.form_mask,
.form_dropdown {
  @extend .b-input;
  height: 40px;
  padding: 0;
  .p-calendar {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: none !important;

    .p-inputtext {
      box-shadow: none !important;
      padding: 8px;
      width: 100%;
      height: 100%;
    }
  }

  .p-inputtext {
    font-size: inherit;
    box-shadow: none !important;
    padding: 8px;
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  .p-datepicker-dropdown {
    background: transparent;
    width: 40px;
    height: 100%;
    border: none;
    outline: 0;
    box-shadow: none !important;
  }

  .p-dropdown {
    width: 100%;
    height: 100%;
    box-shadow: none !important;

    .p-dropdown-label {
      line-height: 15px;
    }
  }
}

.app-datepiker {
  height: 40px;
  width: 260px;
}
