.page_header {
  display: flex;
  flex-shrink: 0;
  height: 56px;
  width: 100%;
  flex-wrap: nowrap;
  padding: 8px;
  background: var(--b-primary-bg-color);
  border-radius: var(--b-border-radius);
  margin-bottom: 4px;
}

.page_body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 8px;
  background: var(--b-primary-bg-color);
  border-radius: var(--b-border-radius);
}

.page_body_column {
  @extend .page_body;
  flex-direction: column;
}
