.b-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .p-datatable {
    width: 100%;
  }
  .p-datatable-header {
    border: none;
    background: transparent;
    margin-bottom: 12px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .app-today {
    margin-right: auto;
    line-height: 21px;
    font-size: 24px;
    border: 1px solid var(--b-accent-color);
    padding: 4px 8px;
    border-radius: 6px;
    margin-left: 0;
    align-self: center;
  }

  .app_table_input {
    height: 40px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    color: var(--b-text-secondary-color);
    border: 1px solid var(--b-text-secondary-color);
    opacity: 0.8;
    border-radius: 4px;
    width: 240px;
    &:hover,
    &:focus {
      color: var(--b-text-main-color);
      border-color: var(--b-text-main-color);
    }
  }

  .p-datatable-thead {
    background: var(--b-primary-bg-color);
  }

  .p-datatable-thead th {
    background: transparent;
    text-align: left;
    color: var(--b-text-main-color);
    padding: 8px 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-color: var(--b-table-border-color);
    border-width: 0px 0px 1px 0px;
  }

  .p-datatable-tbody tr {
    background: transparent;
    color: var(--b-text-secondary-color);
    transition: none;
    box-shadow: none !important;
    cursor: pointer;
    &.b_expanded_tr {
      td {
        padding: 4px;
        background: var(--b-secondary-bg-color);
      }
    }

    &:hover:not(.b_expanded_tr),
    &.p-datatable-row-selected {
      color: var(--b-text-main-color);

      td {
        border-color: var(--b-table-border-highlight);
      }
    }
  }

  .p-datatable-tbody td {
    padding: 4px;
    line-height: 20px;
    font-size: 14px;
    border-color: var(--b-table-border-color);
    border-width: 0 0px 1px 0px;
  }
  &.remission-table .p-datatable-tbody tr {
    td:first-child {
      border-left-width: 4px;
    }
    &.table-tr-b-green td:first-child {
      border-left-color: green;
    }
    &.table-tr-b-yellow td:first-child {
      border-left-color: yellow;
    }
    &.table-tr-b-red td:first-child {
      border-left-color: red;
    }
    &.table-tr-b-grey td:first-child {
      border-left-color: grey;
    }
  }

  .p-datatable-wrapper {
    height: 100%;
  }

  .expanded_row_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    background: var(--b-primary-bg-color);
    border-radius: 8px;
  }

  .expanded_row {
    display: flex;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .expanded_row_label {
    font-weight: 700;
    margin-right: 12px;
  }

  // .expanded_row_value {

  // }
}

.table_action_row {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 100%;
  &.row_content_end {
    justify-content: flex-end;
    & > * {
      margin-left: 8px;
    }
  }

  &.row_content_start {
    justify-content: flex-start;
    & > * {
      margin-right: 8px;
    }
  }
}
