:host {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s linear;
  cursor: pointer;
  &.expanded {
    transform: rotate(90deg);
  }
  &.collapsed {
    transform: rotate(0deg);
  }
}

