<div class="page_body_column">
  <p-datepicker
    class="app-inline-calendar planning_calendar"
    [ngModel]="selectedDate"
    (ngModelChange)="onDateSelect($event)"
    [inline]="true"
    [fluid]="true"
    [showTime]="true"
    hourFormat="24"
    >
    <ng-template #date let-date>
      <div class="date-wrapper">
        {{ date.day }}
        @if (getTaskCount(date)) {
          <span class="task-counter">{{
            getTaskCount(date)
          }}</span>
        }
      </div>
    </ng-template>
  </p-datepicker>
  @if (!showPlanningForm) {
    <div class="planning-header">
      <div class="planning-selected-day">Планування на {{ selectedDate | date : "dd.MM.yyyy" }}</div>
      <button class="add-task" pButton label="Додати завдання" (click)="openPlanningForm()"></button>
    </div>
    @if (filteredData && filteredData.length) {
      <div class="task-list">
        @for (item of filteredData; track item; let i = $index) {
          <div class="task-list-item">
            <span class="task-list-item-index">{{ i + 1 + ")" }}</span>
            <span>{{ item.planning_date | date : "dd.MM.yyyy" }}</span>
            <span>{{ item.type }}</span>
            <span>{{ item.name }}</span>
          </div>
        }
      </div>
    }
    @if (!filteredData || !filteredData.length) {
      <div>
        Запланованих завдань не має
      </div>
    }
  }
  @if (showPlanningForm) {
    <app-planning-form
      [selectedDate]="selectedDate"
      (onClose)="closePlanningForm()"
      />
  }
</div>
