<p-table class="table" [value]="data" [scrollable]="true" scrollHeight="100%" >
  <ng-template pTemplate="header">
    <tr>
      <th width="40px">№</th>
      <th>ПІБ</th>
      <th width="130px">Дата госпіталізації</th>
      <th>Діагноз при направленні</th>
      <th>Діагноз при виписці</th>
      <th width="130px">Дата виписки</th>
      <th width="116px">Заклад МОЗ/МО</th>
      <th width="140px">Тип звернення</th>
      <th width="140px">Характер звернення</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ item.soldier.full_name }}</td>
      <td>{{ item.date_in | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.pre_diagnosis }}</td>
      <td>{{ item.final_diagnosis }}</td>
      <td>{{ item.date_out | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.hospital_name }}</td>
      <td>{{ item.type_of_visit }}</td>
      <td>{{ item.type_of_disease }}</td>
    </tr>
  </ng-template>
</p-table>
