<p-table class="table" [value]="data" [scrollable]="true" scrollHeight="calc(100% - 36px)">
  <ng-template pTemplate="caption">
    <div>
      <button (click)="openModalWindow('create')">Add</button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>№</th>
      <th>ПІБ</th>
      <th style="width: 120px">Дата народження</th>
      <th style="width: 200px">Звання</th>
      <th style="width: 160px">Телефон</th>
      <th style="width: 200px">Місце проживання</th>
      <th style="width: 80px">Група крові</th>
      <th style="width: 60px">Стать</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ item.full_name }}</td>
      <td>{{ item.birthday | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.rank[item.rank.length - 1].type }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.editional_data.address }}</td>
      <td>{{ item.editional_data.blood_type }}</td>
      <td>{{ item.editional_data.sex_type === set_types.MALE ? 'Ч' : 'Ж' }}</td>
      <td>
        <button (click)="openModalWindow('visit', item)">+ Госп</button>
        <button (click)="openModalWindow('vlk', item)">+ влк</button>
        <button (click)="deleteSoldier(item)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  [visible]="!!(showForm && showForm === 'create')"
  [style]="{
    width: '100vw',
    height: 'calc(100vh - 32px)',
    maxHeight: 'none',
    borderRadius: 0,
    boxShadow: 'none'
  }"
  position="bottom"
  [contentStyle]="{ padding: '20px 20px 0 20px', overflow: 'hidden' }"
>
  <app-create-soldier-form (onClose)="closeModalWindow()" />
</p-dialog>
<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  [visible]="!!(showForm && showForm === 'visit')"
  [style]="{
    width: '100vw',
    height: 'calc(100vh - 32px)',
    maxHeight: 'none',
    borderRadius: 0,
    boxShadow: 'none'
  }"
  position="bottom"
  [contentStyle]="{ padding: '20px 20px 0 20px', overflow: 'hidden' }"
>
  <app-visit-form *ngIf="!!editableSoldier" [soldier]="editableSoldier" (onClose)="closeModalWindow()" />
</p-dialog>
<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  [visible]="!!(showForm && showForm === 'vlk')"
  [style]="{
    width: '100vw',
    height: 'calc(100vh - 32px)',
    maxHeight: 'none',
    borderRadius: 0,
    boxShadow: 'none'
  }"
  position="bottom"
  [contentStyle]="{ padding: '20px 20px 0 20px', overflow: 'hidden' }"
>
  <app-vlk-form *ngIf="!!editableSoldier" [soldier]="editableSoldier" (onClose)="closeModalWindow()" />
</p-dialog>