<p-table
  class="table"
  #st
  [value]="data"
  [scrollable]="true"
  scrollHeight="calc(100% - 94px)"
  dataKey="_id"
  [globalFilterFields]="[
    'name',
    'union',
    'start_date',
    'end_date',
    'diagnosis'
  ]"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [paginator]="true"
>
  <ng-template pTemplate="caption">
    <div class="table_action_row">
      <div>{{ today | date : "dd/MM/yyyy" }}</div>
      <p-datepicker
        styleClass="app-datepiker"
        iconDisplay="button"
        [showButtonBar]="true"
        [(ngModel)]="rangeDates"
        selectionMode="range"
        dateFormat="dd.mm.yy"
        [showIcon]="true"
        placeholder="Період dd.mm.yy - dd.mm.yy"
      />
      <input
        class="app_table_input"
        type="text"
        (input)="globalFilter(st, $event)"
        placeholder="Пошук"
      />
      <app-font-btn
        fontSize="28px"
        icon="bx-refresh"
        (onClick)="onLoadData()"
      ></app-font-btn>
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9">Дані відсутні</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 60px">№</th>
      <th style="width: 120px">З:</th>
      <th style="width: 120px">До:</th>
      <th style="width: 120px">К-сть</th>
      <th style="width: 240px">ПІБ</th>
      <th style="width: 120px">Звання</th>
      <th style="width: 120px">Підрозділ</th>
      <th>Діагноз</th>
      <th>Опис</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr [ngClass]="getBorderStyle(item)">
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ item.start_date | date : "dd/MM/yyyy" }}</td>
      <td>{{ item.end_date | date : "dd/MM/yyyy" }}</td>
      <td>{{ item.diffOfDays }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.rank }}</td>
      <td>{{ item.union }}</td>
      <td>{{ item.diagnosis }}</td>
      <td>{{ item.description }}</td>
    </tr>
  </ng-template>
</p-table>

<div>
  <p-chart [data]="chartData" />
</div>
<app-remission-form
  *ngIf="showRemissionForm"
  [rangeDates]="rangeDates"
  (onClose)="onCloseCreateRemission()"
/>

<app-loading *ngIf="loading | async" />
