<p-table
  class="b-table remission-table"
  #st
  [value]="data"
  [scrollable]="true"
  scrollHeight="100%"
  dataKey="_id"
  [globalFilterFields]="filterFields"
  [rows]="50"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [paginator]="true"
>
  <ng-template #caption>
    <div class="table_action_row row_content_start">
      <div class="app-today">{{ today | date : "dd.MM.yyyy" }}</div>
    </div>
    <div class="table_action_row row_content_end">
      <p-datepicker
        styleClass="app-datepiker form_calendar"
        iconDisplay="button"
        [showButtonBar]="true"
        [(ngModel)]="rangeDates"
        selectionMode="range"
        dateFormat="dd.mm.yy"
        [showIcon]="true"
        placeholder="Період dd.mm.yy - dd.mm.yy"
      />
      <input
        class="app_table_input"
        type="text"
        (input)="globalFilter(st, $event)"
        placeholder="Пошук"
      />
      <app-font-btn
        fontSize="28px"
        icon="bx-refresh"
        size="40px"
        (onClick)="onLoadData()"
      ></app-font-btn>
    </div>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="9">Дані відсутні</td>
    </tr>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 60px">№</th>

      <ng-container *ngFor="let col of columns">
        <th *ngIf="!col.hidden">{{ col.header }}</th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr [ngClass]="getBorderStyle(item)">
      <td>{{ rowIndex + 1 }}</td>
      <ng-container *ngFor="let col of columns">
        <td *ngIf="!col.hidden">
          <ng-container *ngIf="col.template">
            <ng-container *ngIf="col.template === 'date'">
              <span>{{ item[col.field] | date : col.format }}</span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!col.template">
            <span>{{ item[col.field] }}</span>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
<!--
    <div>
      <p-chart [data]="chartData" />
    </div> -->

<app-remission-form
  *ngIf="showRemissionForm"
  [rangeDates]="rangeDates"
  (onClose)="onCloseCreateRemission()"
/>

<app-loading *ngIf="loading | async" />
