<p-dialog
  header="Add soldier"
  [modal]="true"
  [visible]="true"
  [style]="{ width: '50vw', height: '50vh' }"
>
  <form [formGroup]="soldierForm" (ngSubmit)="addSoldier()" novalidate>
    <div class="field">
      <label for="full_name" class="block">Full Name</label>
      <input
        type="text"
        pInputText
        placeholder="Full name"
        formControlName="full_name"
      />
      <small
        class="p-error block"
        *ngIf="
        soldierForm.get('full_name')?.invalid && soldierForm.get('full_name')?.dirty
        "
      >
        Full name is required</small
      >
    </div>

    <div formGroupName="editional_data">
      <h2>Address</h2>
      <div class="field">
        <label for="street" class="block">Address</label>
        <input
          type="text"
          pInputText
          placeholder="Address"
          formControlName="address"
        />
      </div>
      <!-- <div class="field">
        <label for="postCode" class="block">PostCode</label>
        <input
          type="text"
          pInputText
          placeholder="PostCode"
          formControlName="postCode"
        />
        <small
          class="p-error block"
          *ngIf="
            userForm.get('address')?.get('postCode')?.invalid &&
            userForm.get('address')?.get('postCode')?.dirty
          "
        >
          PostCode is required</small
        >
      </div> -->
    </div>

    <button
      pButton
      type="submit"
      label="Submit"
      [disabled]="soldierForm.invalid"
    ></button>
  </form>
</p-dialog>
