:host {
  display: flex;
  flex-shrink: 0;
}

.app_tab {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 148px;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  padding: 0 12px;
  color: var(--b-text-secondary-color);
  border-bottom: 1px solid var(--b-text-secondary-color);
  cursor: pointer;
  transition-property: color, border-color;
  transition: var(--b-transition);

  &:hover,
  &.app_tab_active {
    color: var(--b-accent-color);
    border-bottom-color: var(--b-accent-color);
  }

  span {
    color: inherit;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
