<ng-container [formGroup]="data">
  <div class="form_control_wrapper">
    <label [for]="id + 'position'" class="form_label">Посада</label>
    <input [id]="id + 'position'" type="text" pInputText formControlName="position" class="form_input" />
  </div>
  <div class="form_control_wrapper">
    <label [for]="id + 'name'" class="form_label">ПІБ</label>
    <input [id]="id + 'name'" type="text" pInputText formControlName="name" class="form_input" />
  </div>
  <div class="form_control_wrapper">
    <label [for]="id + 'rank'" class="form_label">Звання</label>
    <input [id]="id + 'rank'" type="text" pInputText formControlName="rank" class="form_input" />
  </div>
</ng-container>