<button
  *ngIf="!useAsLink"
  class="font-button"
  type="button"
  (click)="doCLick($event)"
  [ngStyle]="{ color: color, width: size, height: size, fontSize: fontSize }"
>
  <app-font-icon [icon]="icon" />
  <div *ngIf="label" class="font-button-label-after">{{ label }}</div>
</button>

<a
  *ngIf="useAsLink"
  class="font-button"
  [routerLink]="url"
  [ngStyle]="{ color: color, width: size, height: size, fontSize: fontSize }"
>
  <app-font-icon [icon]="icon" />
  <div *ngIf="label" class="font-button-label-after">{{ label }}</div>
</a>
