.font-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    &:active {
        color: inherit;
    }
    &:hover:not(:disabled) {
        color: var(--accent-color) !important;
    }
    
}

.font-button-label-after {
    color: inherit;
    font-weight: 600;
    font-size: 16px;
    cursor: inherit;
}