<ng-container formGroupName="name">
  <div class="form_control_wrapper">
    <label for="last_name" class="form_label">Прізвище *</label>
    <input id="last_name" type="text" pInputText formControlName="last_name" class="form_input" />
  </div>
  <div class="form_control_wrapper">
    <label for="first_name" class="form_label">І'мя *</label>
    <input id="first_name" type="text" pInputText formControlName="first_name" class="form_input" />
  </div>
  <div class="form_control_wrapper">
    <label for="middle_name" class="form_label">По батькові</label>
    <input id="middle_name" type="text" pInputText formControlName="middle_name" class="form_input" />
  </div>
</ng-container>

