<form [formGroup]="soldierForm" (ngSubmit)="save()" novalidate class="form_wrapper">
  <div class="form_content">
    <p-accordion class="soldier-wrapper" [multiple]="true" [activeIndex]="[0]">
      <p-accordionTab class="soldier-tab-panel" header="Загальна інформація">
        <app-name-form class="form_fields_colums_group_3"></app-name-form>

        <div class="form_fields_colums_group_2">
          <div class="form_control_wrapper">
            <label for="birthday" class="form_label">Дата народження *</label>
            <p-calendar appendTo="body" inputId="birthday" class="form_calendar" formControlName="birthday" placeholder="../../...."
              dateFormat="dd/mm/yy" />
          </div>
          <div class="form_control_wrapper">
            <label for="phone" class="form_label">Телефон</label>
            <p-inputMask class="form_mask" mask="+380(99)999 99 99" formControlName="phone"
              placeholder="+380(99)999 99 99" />
          </div>
        </div>
        <ng-container formArrayName="rank" *ngFor="let item of ranks.controls; let j = index">
          <ng-container [formGroupName]="j">
            <div class="form_fields_colums_group_2">
              <div class="form_control_wrapper">
                <label [for]="j + 'rank'" class="form_label">Звання</label>
                <p-dropdown [inputId]="j + 'rank'" formControlName="value" [options]="rank_types" optionLabel="label"
                  optionValue="value" class="form_dropdown" />
              </div>
              <div class="form_control_wrapper">
                <label [for]="j + 'rank_date'" class="form_label">Дата присвоєння</label>
                <p-calendar appendTo="body" [inputId]="j + 'rank_date'" formControlName="date" class="form_calendar"
                  placeholder="../../...." dateFormat="dd/mm/yy" />
              </div>
            </div>
          </ng-container>
        </ng-container>
        <app-sold-editional-data-form></app-sold-editional-data-form>
      </p-accordionTab>
      
      <p-accordionTab class="soldier-tab-panel" header="ВЛК">
        <ng-container formArrayName="vlc">
          <ng-container *ngFor="let vlc_item of vlcs.controls; let j = index">
            <ng-container [formGroupName]="j">
              <div class="form_fields_colums_group_2">
                <div class="form_control_wrapper">
                  <label for="vlc_number" class="form_label">Номер наказу</label>
                  <input id="vlc_number" type="text" pInputText formControlName="vlc_number" class="form_input" />
                </div>
                <div class="form_control_wrapper">
                  <label for="vlc_date" class="form_label">Дата проходження</label>
                  <p-calendar inputId="vlc_date" appendTo="body" formControlName="vlc_date" class="form_calendar" placeholder="../../...."
                    dateFormat="dd/mm/yy" />
                </div>
              </div>
              <div class="form_fields_colums_group_2">
                <div class="form_control_wrapper">
                  <label for="hospital_name" class="form_label">Місце проходження</label>
                  <textarea id="hospital_name" rows="4" cols="30" pInputTextarea formControlName="hospital_name"
                    class="form_textarea">
                  </textarea>
                </div>
                <div class="form_control_wrapper">
                  <label for="diagnosis" class="form_label">Діагноз</label>
                  <textarea id="diagnosis" rows="4" cols="30" pInputTextarea formControlName="diagnosis"
                    class="form_textarea">
                  </textarea>
                </div>
              </div>
              <div class="form_control_wrapper">
                <label for="recomendation" class="form_label">Висновок</label>
                <textarea id="recomendation" rows="4" cols="30" pInputTextarea formControlName="recomendation"
                  class="form_textarea">
                </textarea>
              </div>
            </ng-container>
          </ng-container>
          <button class="app_action_button" type="button" (click)="addVlc()">Додати ВЛК</button>
        </ng-container>
      </p-accordionTab>
      <p-accordionTab class="soldier-tab-panel" header="Медичне майно">
        <ng-container formGroupName="properties">
          <ng-container formArrayName="med_properties"
            *ngFor="let item of med_properties.controls; index as i">
            <app-sold-property-form [id]="i + '_med_property'" [data]="getMedPropertyGroup(i)"
              (onDelete)="removeMedProperty(i)"></app-sold-property-form>
          </ng-container>
          <button class="app_action_button" type="button" (click)="addMedProperty()">Додати інвентар</button>
        </ng-container>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="form_footer">
    <button pButton type="button" label="Відмінити" severity="secondary" (click)="cancel()"></button>
    <button pButton type="submit" label="Зберегти" [disabled]="soldierForm.invalid"></button>
  </div>
</form>
<app-loading *ngIf="loading" />
<div *ngIf="error">{{ error }}</div>