/* You can add global styles to this file, and also import other style files */
@import './assets/page.scss';
@import './assets/table.scss';
@import './assets/sidebar.scss';
@import './assets/inputs.scss';
@import './assets/general.scss';
@import './assets/button.scss';
:root {
    --blue: #2ca9bc;
    --dark: #0F0F0F;
    --grey: #e5e7eb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

app-root {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    overflow: hidden;
}
