<ng-container formGroupName="editional_data">
  <div class="form_fields_colums_group_2">
    <div class="form_control_wrapper">
      <label for="unit" class="form_label">Підрозділ</label>
      <input id="unit" type="text" pInputText formControlName="unit" class="form_input" />
    </div>
    <div class="form_control_wrapper">
      <label for="position" class="form_label">Посада</label>
      <input id="position" type="text" pInputText formControlName="position" class="form_input" />
    </div>
  </div>
  
  <div class="form_fields_colums_group_2">
    <div class="form_control_wrapper">
      <label for="blood_type" class="form_label">Група крові</label>
      <p-dropdown inputId="blood_type" formControlName="blood_type" [options]="blood_types" optionLabel="label" optionValue="value"
        class="form_calendar" />
    </div>

    <div class="form_control_wrapper">
      <label for="sex_type" class="form_label">Стать</label>
      <p-dropdown inputId="sex_type" formControlName="sex_type" [options]="sex_types" optionLabel="label" optionValue="value"
        class="form_dropdown" />
    </div>
  </div>
  <div class="form_control_wrapper form_field_margin_r_20">
    <label for="address" class="form_label">Місце проживання</label>
    <textarea id="address" rows="4" cols="30" pInputTextarea formControlName="address" class="form_textarea">
    </textarea>
  </div>
  <ng-container formGroupName="summoned">
    <div class="form_control_wrapper form_field_margin_r_20">
      <label for="summoned_date" class="form_label">Дата призову</label>
      <p-calendar appendTo="body" inputId="summoned_date" formControlName="date" placeholder="../../...." class="form_calendar"
        dateFormat="dd/mm/yy" />
    </div>
    <div class="form_control_wrapper form_field_margin_r_20">
      <label for="organization" class="form_label">Ким призваний</label>
      <textarea id="organization" rows="4" cols="30" pInputTextarea formControlName="organization"
        class="form_textarea">
      </textarea>
    </div>
  </ng-container>
  <div class="form_control_wrapper form_field_margin_r_20">
    <label for="editional_data_description" class="form_label">Додаткова інформація</label>
    <textarea id="editional_data_description" rows="4" cols="30" pInputTextarea formControlName="description"
      class="form_textarea">
    </textarea>
  </div>
</ng-container>
