:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 12px 0;
  border-right: 1px solid var(--accent-color);
}

.page_nav_link {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: var(--text-secondary-color);

  &.link-active,
  &:hover {
    color: var(--accent-color);
  }
}

.page_nav_logout {
  width: 100%;
  border: none;
  background: transparent;
  margin-top: auto;
  padding: 4px 2px;
  color: var(--text-secondary-color);
  &:hover {
    color: var(--accent-color);
  }
}
