/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import './assets/accordion.scss';
@import './assets/page.scss';
@import './assets/table.scss';
@import './assets/sidebar.scss';
@import './assets/inputs.scss';
@import './assets/general.scss';
@import './assets/button.scss';
:root {
    --accent-color: #B655C8;

    --text-main-color: #171710;
    --text-secondary-color: #707370;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #E5CEF6;

    --table-border-color: #707370;
    --table-border-highlight: #171710;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-bg-color);
}

a {
    text-decoration: none;
}

app-root {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    overflow: hidden;
}
