@use "sass:meta";
/* You can add global styles to this file, and also import other style files */
// @include meta.load-css('assets/fonts.scss');
@include meta.load-css('assets/accordion.scss');
@include meta.load-css('assets/page.scss');
@include meta.load-css('assets/table.scss');
@include meta.load-css('assets/sidebar.scss');
@include meta.load-css('assets/inputs.scss');
@include meta.load-css('assets/general.scss');
@include meta.load-css('assets/button.scss');
@include meta.load-css('assets/dialog.scss');
@include meta.load-css('assets/calendar.scss');
:root {
    --accent-color: #10b981;

    --error-color: #ff0a54;

    --text-main-color: #171710;
    --text-secondary-color: #707370;

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #E5CEF6;

    --table-border-color: #707370;
    --table-border-highlight: #171710;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-bg-color);
}

a {
    text-decoration: none;
}

app-root {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    overflow: hidden;
}

.text_center {
    text-align: center;
}
