:host {
    display: inline-flex;
    flex-shrink: 0;
    color: inherit;
    
}
.icon-wrapper {
    display: inline-flex;
    cursor: pointer;
    color: inherit;
}
i {
   margin: auto;
   color: inherit;
}