:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.structure-wrapper {
    width: 100%;
    height: 100%;
    
}

.structure-name {
    padding: 12px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}


.structure-item-name {
    padding: 0 0 0 12px;
    font-size: 16px;
    font-weight: 700;
    span {
        padding-left: 12px;
    }
}

.structure-sub-item {
    border-style: dashed;
    border-color: var(--dark);
    border-width: 1px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    margin: 0 0 0 48px;
}

.structure-sub-item-name {
    font-weight: 600;
    text-decoration: underline;
    padding: 0 0 4px 0;
    font-size: 16px;
    span {
        padding-left: 12px;
    }
}

.data-item-position {
    margin-right: 8px;
}

.data-item-name {
    font-weight: 600;
}

.structure-sub-data-item {
    padding: 4px;
    margin-left: 24px;
    border-bottom: 1px solid var(--dark);
    &:last-child {
        border-bottom: none;
    }
}


.structure-sub-structure-item {
    padding: 4px 4px 4px 0;
    margin-left: 32px;
    border-bottom: 1px dashed var(--dark);
    &:last-child {
        border-bottom-width: 0;
    }
}

.structure-sub-structure-item-name {
    font-weight: 600;
}

.structure-sub-data-item-content {}


.structure-sub-structure-sub-item {}

.structure-sub-structure-data-item {
    padding: 4px 4px 4px 12px;
    &:last-child {
        border-bottom-width: 0;
    }
}