<!-- <app-graph [data]="data" /> -->
<p-accordion [multiple]="true" class="structure-wrapper" *ngFor="let bat of data; index as a">
  <div class="structure-name">{{bat.bat_name}}</div>
  <p-accordionTab class="structure-item" *ngFor="let structureItem of bat.structure; index as b;">
    <ng-template pTemplate="header">
      <div class="structure-item-name">{{a + 1}}.{{b + 1}} {{structureItem.name}}</div>
    </ng-template>

    <div class="structure-sub-item" *ngFor="let subStructureItem of structureItem.data; index as c;">
      <div class="structure-sub-item-row">
        <span>{{a + 1}}.{{b + 1}}.{{c + 1}}</span>
        <span class="structure-sub-item-name">{{subStructureItem.name}}</span>
      </div>
      <div class="structure-sub-data-item" *ngFor="let subStructureDataItem of subStructureItem.data">
        <span class="data-item-position">{{subStructureDataItem.position}}:</span>
        <span class="data-item-name">{{subStructureDataItem.name}}</span>
        <div class="structure-sub-item-action">
          <app-font-btn *ngIf="subStructureDataItem.soldier_id" [useAsLink]="true" icon="bx-link-external"
            size="32px" fontSize="22px" [url]="subStructureDataItem.soldier_id" />
          <app-font-btn icon="bx-folder-minus" size="32px" fontSize="22px" (onClick)="blockSoldiers(subStructureDataItem.id)" />
        </div>
      </div>
      <div class="structure-sub-structure-item" *ngFor="let subStructureStructureItem of subStructureItem.structure">
        <div class="structure-sub-structure-item-name">
          <span>{{subStructureStructureItem.name}}</span>
        </div>
        <div class="structure-sub-structure-data-item"
          *ngFor="let subStructureStructureDataItem of subStructureStructureItem.data">
          <span class="data-item-position">{{subStructureStructureDataItem.position}}:</span>
          <a [routerLink]="subStructureStructureDataItem.soldier_id"
            class="data-item-name">{{subStructureStructureDataItem.name}}</a>
        </div>
        <div class="structure-sub-structure-sub-item" *ngFor="let d of subStructureStructureItem.structure">
          {{d.name}}
          <div class="structure-sub-structure-sub-data-item" *ngFor="let f of d.data">
            <div class="structure-sub-structure-sub-item-row">{{f.name}}</div>
          </div>
          <div class="structure-sub-structure-sub-structure-item" *ngFor="let g of d.structure">
            <div class="structure-sub-structure-sub-structure-item-name">{{g.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </p-accordionTab>
  <div class="structure-item-add-row">
    <app-font-btn (onClick)="displayStructureItemDialog(bat._id)" icon="bx-book-add" label="Додати підрозділ"  />
  </div>
</p-accordion>

<p-dialog [modal]="true" [closeOnEscape]="false" [closable]="false" [visible]="!!selectedBatId"
  [style]="{
    width: '90vw',
    maxWidth: '520px',
    height: '80vh',
    maxHeight: '400px',
    borderRadius: 0,
    boxShadow: 'none'
  }" position="center" [contentStyle]="{ padding: '12px', overflow: 'hidden' }">
  <app-structure-item-form *ngIf="!!selectedBatId" [loading]="loading" (onSave)="onAddStructureItem($event)" (onClose)="displayStructureItemDialog('')" />
</p-dialog>