<form [formGroup]="structureItemForm" (ngSubmit)="onSubmit()" novalidate class="form_wrapper">

    <div class="form_content">
        <div class="form_control_wrapper">
            <label for="vlc_number" class="form_label">Назва підрозділу</label>
            <input id="name" type="text" pInputText formControlName="name" class="form_input" />
        </div>
    </div>
    <div class="form_footer">
        <button pButton type="button" label="Відмінити" severity="secondary" (click)="closeForm()"></button>
        <button pButton type="submit" label="Зберегти" [disabled]="structureItemForm.invalid"></button>
    </div>
    <div *ngIf="loading">Зберігання...</div>
</form>