:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.form_wrapper {
  margin: auto;
  width: 80vw;
  height: 75vh;
  max-width: 600px;
  max-height: 480px;
  box-shadow: 0 0px 12px 1px var(--b-accent-color);
  padding: 12px;
  border-radius: 8px;
}

.err-message {
  width: 80%;
  margin: 12px auto;
  color: red;
  font-size: 12px;
  min-height: 20px;
}

.log_button {
  margin-bottom: 20px;
  margin-top: auto;
}

.form_control_wrapper,
.log_button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.log_button,
.log_input {
  height: 40px;
}
.log_title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px auto auto auto;
}

.log_input_label {
  font-size: 18px;
}
