<p-table
  class="b-table"
  #st
  [value]="data"
  dataKey="_id"
  [globalFilterFields]="filterFields"
  [rows]="50"
  [expandedRowKeys]="expandedRows"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100, 150]"
  [paginator]="true"
  [scrollable]="true"
  scrollHeight="100%"
  selectionMode="single"
  [selection]="selectedVlk"
>
  <ng-template #caption>
    <div class="table_action_row row_content_start">
      <app-font-btn
        fontSize="28px"
        icon="bx-plus"
        size="40px"
        (onClick)="onVisibleVlkForm(true)"
      />
    </div>
    <div class="table_action_row row_content_end">
      <input
        class="app_table_input"
        type="text"
        (input)="globalFilter(st, $event)"
        placeholder="Пошук"
      />
      <app-font-btn
        fontSize="28px"
        icon="bx-refresh"
        size="40px"
        (onClick)="onLoadData()"
      />
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th colspan="2" width="100px">№</th>
      <th>ПІБ</th>
      <th width="180px">Звання</th>
      <th width="320px">Висновок ВЛК</th>
      <th width="220px">№ ВЛК</th>
      <th width="120px">Дата ВЛК</th>
      <th width="120px">Установа ВЛК</th>
      <th width="120px"></th>
    </tr>
  </ng-template>
  <ng-template #body let-item let-rowIndex="rowIndex" let-expanded="expanded">
    <tr [pSelectableRow]="item">
      <td>
        <app-svg-icon
          [pRowToggler]="item"
          path="url(assets/icons/arrow-right.svg)"
          [ngClass]="expanded ? 'expanded' : 'collapsed'"
        />
      </td>
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.rank }}</td>
      <td>{{ item.vlk_result }}</td>
      <td>{{ item.vlk_number }}</td>
      <td>{{ item.vlk_date }}</td>
      <td>{{ item.vlk_institution }}</td>
      <td>
        <app-font-btn icon="bx-pencil"  (onClick)="onEditItem(item)"/>
      </td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-item>
    <tr class="b_expanded_tr">
      <td colspan="9">
        <div class="expanded_row_wrapper">
          <div class="expanded_row">
            <span class="expanded_row_label">Дата народження:</span>
            <span class="expanded_row_value">{{ item.birthday }}</span>
          </div>
          <div class="expanded_row">
            <span class="expanded_row_label">Місце проживання:</span>
            <span class="expanded_row_value">{{ item.address }}</span>
          </div>
          <div class="expanded_row">
            <span class="expanded_row_label">Підрозділ:</span>
            <span class="expanded_row_value">{{ item.union }}</span>
          </div>
          <div class="expanded_row">
            <span class="expanded_row_label">Посада:</span>
            <span class="expanded_row_value">{{ item.position }}</span>
          </div>
          <div class="expanded_row">
            <span class="expanded_row_label">Діагноз:</span>
            <span class="expanded_row_value">{{ item.diagnosis }}</span>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="9">Дані відсутні</td>
    </tr>
  </ng-template>
</p-table>

<app-vlk-form *ngIf="visibleVlkForm" [item]="selectedVlk" (onClose)="onVisibleVlkForm(false)" />
<app-loading *ngIf="loading | async" />
